* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Kumbh+Sans:wght@300&display=swap");
body {
  background-color: black;
  font-family: "Kumbh Sans", sans-serif;
}
.main {
  background-image: url(assets/bg.jpg);
  height: 644px;
  position: relative;
  z-index: 10;
  background-position: center center;
  background-repeat: no-repeat;
}
.box {
  background-color: black;
  height: 644px;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  opacity: 0.69;
}
nav {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.logo {
  position: relative;
  z-index: 10;
}
.botton12 {
  position: relative;
  z-index: 10;
  color: white;
  padding-top: 30px;
}
.title {
  position: relative;
  z-index: 10;
  padding-top: 170px;
  text-align: center;
}
.title > :nth-child(1) {
  color: white;
  font-size: 48px;
  font-weight: 900;
  font-family: "Black Han Sans", sans-serif;
}
.title > :nth-child(2) {
  color: white;
  padding-top: 25px;
  font-size: 24px;
  font-weight: 400;
}
.title > :nth-child(3) {
  color: white;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 400;
}
.title > :nth-child(4) {
  color: white;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 400;
}
.botton3 {
  border: 2px;
  border-radius: 0.25rem;
  background-color: rgba(229, 9, 20, 1);
  font-size: 24px;
  padding: 12px 24px 12px 24px;
  margin-left: 8px;
  font-weight: bolder;
}
.mail {
  padding: 24px 16px 8px 16px;
}
input {
  width: 23%;
  height: 10px;
  padding: 1.5rem 1rem 0.5rem;
  color: inherit;
  filter: opacity(50%);
  font-size: large;
  text-align: start;
  background: dimgrey;
}
::placeholder {
  color: aliceblue;
  position: relative;
  bottom: 50%;
}
.botton2 {
  border: 2px;
  background-color: rgba(229, 9, 20, 1);
  padding: 4px 16px 4px 16px;
}
.seperation {
  height: 5px;
  background-color: rgb(68, 68, 68);
}
.secondpage {
  display: flex;
  padding: 72px 0px 72px 0;
  margin: 0 165px 0 165px;
  justify-items: center;
  align-items: center;
}
.content2 {
  display: flexbox;
  justify-content: space-around;
  align-content: center;
}
.tv1 {
    position: relative;
}
.content2 > div:nth-child(1) {
  font-size: 46px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
}
.content2 > div:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
  margin-top: 14px;
}
.tv1 video{
    position: absolute;
    bottom:185px;
    right: 81px;
}
.tv1 img{
    position: relative;
    z-index: 10;
    padding: 72px 0 72px 6px;
}
.fourpage {
    display: flex;
    padding: 72px 0px 72px 0;
    margin: 0 165px 0 165px;
    justify-items: center;
    align-items: center;
  }

